<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<!--Mai ek masoom si template hoo Raj Bhai!!! <br>-->
<!--{{name}} is from {{place}}-->
<!--<form action="\removepunc" method="get">-->
<!--    <textarea name='text' style='width: 1225px; height: 250px;'> </textarea>-->
<!--    <br>-->
<!--    <button type = 'submit'> Analyze Text </button>-->
<!--</form>-->
<h1>Welcome to the textanalyzer . Enter your text below</h1>
<form action="\analyze" method="post">
    <textarea name='text' style='width: 1225px; height: 250px;'> </textarea>
    <br>
    <input type="checkbox" name="cb1"> Remove Punctuations <br>
    <input type="checkbox" name="cb2"> CAPITALIZATION <br>
    <input type="checkbox" name="cb3"> New line remover <br>
    <input type="checkbox" name="cb4"> Extra Space remover <br>
    <input type="checkbox" name="cb5"> Character Count <br>
    <button type = 'submit'> Analyze Text </button>
</form>
</body>
</html>